<html>
    <head>
        <title>Coronavirus.py</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

 <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>    <body>
        <div class="container text-center mt-5">
            <h1>Coronavirus Oubreak</h1>
            <h2>Coronavirus cases worldwide</h2>
            <h2>{{ worldValue }}</h2>

            <div class="container text-center mt-5">
              <h3>State of purpose:</h3>
              <p>Inform the reader about the coronavirus outbreak and to prove according to data why in this pandemic more than ever we need to help one another whenever we can.</p>
              <h3>What can you find in this page?:</h3>
              <p>How the countries are doing during the coronavirus outbreak. To fully compare one country to another, we gathered data such as: total cases of COVID-19 per million people, country gdp (gross domestic product), country population, median age of each country, etc.</p>
              <p>The following data is up to date.</p>
            </div>

            <!-- Start Top 10 coronavirus chart -->
            <div class="d-flex justify-content-center">
              <div class="mt-5" style="width:600; height:400">
                <canvas id="chartTop10Cases"></canvas>
              </div>
            </div>
            <!-- End Top 10 coronavirus chart -->

            <!-- Start Top 10 Deaths Coronavirus chart -->
            <div class="d-flex justify-content-center">
              <div class="mt-5" style="width:600; height:400">
                <canvas id="chartTop10Deaths"></canvas>
              </div>
            </div>
            <!-- End Top 10 Deaths Coronavirus chart -->

            <!-- Start Top 7 Best Responses chart -->
            <div class="d-flex justify-content-center">
              <div class="mt-5" style="width:600; height:400">
                <canvas id="chartTop7Responses"></canvas>
              </div>
            </div>
            <!-- End Top 7 Best Responses chart -->

            <!-- Start Top 10 Cases per Million chart -->
            <div class="d-flex justify-content-center">
              <div class="mt-5" style="width:600; height:400">
                <canvas id="chartTotalCasesPerMillion"></canvas>
              </div>
            </div>
            <!-- End Top 10 Cases per Million chart -->

            <!-- Start Sick Population Percentage chart -->
            <div class="d-flex justify-content-center">
              <div class="mt-5" style="width:600; height:400">
                <canvas id="chartSickPopulationPercentage"></canvas>
              </div>
            </div>
            <!-- End Sick Population Percentage chart -->

            <!-- Start Fatality Case Ratio chart -->
            <h3 class="mt-5 mb-5">Countries with the highest Case Fatality Rate</h3>
            <div class="d-flex justify-content-between">
              <div style="width:600; height:400">
                <canvas id="chartFatalityCaseRatio"></canvas>
              </div>
              <div class="mt-5 ml-5 text-justify" style="width:600; height:400;">
                  <h6>The Case Fatality Rate(CFR) is the number of confirmed deaths divided by
                    the number of confirmed cases. The worldwide CFR is {{caseFatalityWorld}}%
                  </h6>
                  <br>
                  <h6>Yemen has the highest CFR in the world with a {{case_fatality_ratio[0]}}%
                  </h6>
<br>
                  <a href="https://www.undp.org/content/undp/en/home/blog/2020/covid-19-ravages-an-already-desperate-yemen.html">
                  <h6>"After nearly six years of war, 80 percent of Yemen’s 30 million population—more than 24 million people—depend on humanitarian assistance to survive. Millions are severely malnourished and weakened by diseases such as dengue, malaria, and cholera. They suffer from pre-existing conditions and are uniquely vulnerable to the worst and deadliest impact of COVID-19.

Yemen is already the world’s worst humanitarian and development crisis."</h6></a>
              </div>
            </div>
            <!-- End Fatality Case Ratio chart -->

    <script>
    // Start Top 10 coronavirus chart
    var ctx = document.getElementById('chartTop10Cases').getContext("2d");
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [
          {% for item in countries %}
              "{{ item }}",
               {% endfor %}
        ],
        datasets : [{
             fillColor: "rgba(151,187,205,1)",
             strokeColor: "rgba(151,187,205,1)",
             pointColor: "rgba(151,187,205,1)",
             backgroundColor: "rgba(151,187,205,0.2)",
             borderColor:"rgba(151,187,205,1)",
             borderWidth:2,
             label: "Total number of COVID-19 cases",
             data : [
                       {% for item in values %}
                          "{{ item }}",
                       {% endfor %}
                    ]
                  }


                    ],
    },
    options: {
                             responsive: true,
                             maintainAspectRatio: false,

                         tooltips: {
                           callbacks: {
                                 label: function(tooltipItem, data) {

                                     var value = data.datasets[0].data[tooltipItem.index];
                                     if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                 }
                           } // end callbacks:
                         }, //end tooltips
        scales: {
                                     yAxes: [{
                                         ticks: {
                                             beginAtZero:true,
                                             callback: function(value, index, values) {
                                                 if(parseInt(value) >= 1000){
                                                    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                 } else {
                                                    return value;
                                                 }
                                            }
                                         }
                                     }]
        }


      }

});
//End Top 10 Coronavirus cases chart

//Top 10 Deaths Chart
var ctx = document.getElementById('chartTop10Deaths').getContext("2d");
var myChart1 = new Chart(ctx, {
type: 'bar',
data: {
    labels: [
      {% for item in locationtable1 %}
          "{{ item }}",
           {% endfor %}
    ],
    datasets : [{
         fillColor: "rgba(151,187,205,1)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         backgroundColor: "rgba(151,187,205,0.2)",
         borderColor:"rgba(151,187,205,1)",
         borderWidth:2,
         label: "Total number of COVID-19 deaths",
         data : [
                   {% for item in total_deathstable1 %}
                      "{{ item }}",
                   {% endfor %}
                ]
              }


                ],
},
options: {
                         responsive: true,
                         maintainAspectRatio: false,

                     tooltips: {
                       callbacks: {
                             label: function(tooltipItem, data) {

                                 var value = data.datasets[0].data[tooltipItem.index];
                                 if(parseInt(value) >= 1000){
                                            return "Deaths: "+value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            return "Deaths: "+value;
                                         }
                             },
                             afterLabel: function(tooltipItem, data) {
                               var list = [];
                               var listCases = []

                               {% for item in populationtable1 %}
                                  list.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_casestable1 %}
                                  listCases.push("{{ item }}");
                               {% endfor %}

                               list.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            list[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            list[index]= element;
                                         }
                               });

                               listCases.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCases[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCases[index]= element;
                                         }
                               });
console.log(tooltipItem);
console.log({{populationtable1[0]}});
console.log(list[0])
                                return ['Population: '+list[tooltipItem.index],"Total cases: "+listCases[tooltipItem.index]];
                              }
                       } // end callbacks:
                     }, //end tooltips
    scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true,
                                         callback: function(value, index, values) {
                                             if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                        }
                                     }
                                 }]
    }


  }

});
//End Top 10 coronavirus Deaths chart

//Start Top 7 Best Responses Chart
var ctx = document.getElementById('chartTop7Responses').getContext("2d");
var myChart2 = new Chart(ctx, {
type: 'bar',
data: {
    labels: [
      {% for item in locationbc2t2 %}
          "{{ item }}",
           {% endfor %}
    ],
    datasets : [{
         fillColor: "rgba(151,187,205,1)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         backgroundColor: "rgba(151,187,205,0.2)",
         borderColor:"rgba(151,187,205,1)",
         borderWidth:2,
         label: "Total number of COVID-19 cases",
         data : [
                   {% for item in total_casesbc2t2 %}
                      "{{ item }}",
                   {% endfor %}
                ]
              }


                ],
},
options: {
                         responsive: true,
                         maintainAspectRatio: false,

                     tooltips: {
                       callbacks: {
                             label: function(tooltipItem, data) {

                                 var value = data.datasets[0].data[tooltipItem.index];
                                 if(parseInt(value) >= 1000){
                                            return "Total Cases: "+value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            return "Total Cases: "+value;
                                         }
                             },
                             afterLabel: function(tooltipItem, data) {
                               var list = [];
                               var listCases = [];
                               var listPerMillion = []

                               {% for item in total_deathsbc2t2 %}
                                  list.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_tests_per_thousandbc2t2 %}
                                  listCases.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_deaths_per_millionbc2t2 %}
                                  listPerMillion.push("{{ item }}");
                               {% endfor %}

                               list.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            list[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            list[index]= element;
                                         }
                               });

                               listCases.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCases[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCases[index]= element;
                                         }
                               });

                               listPerMillion.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listPerMillion[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listPerMillion[index]= element;
                                         }
                               });

                                return ['Total Deaths: '+list[tooltipItem.index],"Total Tests per Thousand: "+listCases[tooltipItem.index],"Total Deaths per Million: "+listPerMillion[tooltipItem.index]];
                              }
                       } // end callbacks:
                     }, //end tooltips
    scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true,
                                         callback: function(value, index, values) {
                                             if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                        }
                                     }
                                 }]
    }


  }

});
//End Top 7 Best Responses Chart

// Start Top 10 Cases per Million chart
var ctx = document.getElementById('chartTotalCasesPerMillion').getContext("2d");
var myChart3 = new Chart(ctx, {
type: 'bar',
data: {
    labels: [
      {% for item in locationtable3 %}
          "{{ item }}",
           {% endfor %}
    ],
    datasets : [{
         fillColor: "rgba(151,187,205,1)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         backgroundColor: "rgba(151,187,205,0.2)",
         borderColor:"rgba(151,187,205,1)",
         borderWidth:2,
         label: "Cases per Million",
         data : [
                   {% for item in total_cases_per_milliontable3 %}
                      "{{ item }}",
                   {% endfor %}
                ]
              }


                ],
},
options: {
                         responsive: true,
                         maintainAspectRatio: false,

                     tooltips: {
                       callbacks: {
                             label: function(tooltipItem, data) {

                                 var value = data.datasets[0].data[tooltipItem.index];
                                 if(parseInt(value) >= 1000){
                                            return "Cases per Million: "+value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            return "Cases per Million: "+value;
                                         }
                             },
                             afterLabel: function(tooltipItem, data) {
                               var list = [];
                               var listCases = [];
                               var listPerMillion = [];
                               var listDiabetes = [];
                               var listCardiovascular = [];
                               var listMaleSmokers = [];
                               var listFemaleSmokers = [];
                               var listOlder = [];

                               {% for item in diabetes_prevalence_table3 %}
                                  listDiabetes.push("{{ item }}");
                               {% endfor %}

                               {% for item in male_smokers_table3 %}
                                  listMaleSmokers.push("{{ item }}");
                               {% endfor %}

                               {% for item in female_smokers_table3 %}
                                  listFemaleSmokers.push("{{ item }}");
                               {% endfor %}

                               {% for item in aged_65_older_table3 %}
                                  listOlder.push("{{ item }}");
                               {% endfor %}

                               {% for item in cardiovasc_death_rate_table3 %}
                                  listCardiovascular.push("{{ item }}");
                               {% endfor %}

                               {% for item in populationtable3 %}
                                  list.push("{{ item }}");
                               {% endfor %}

                               {% for item in gdp_per_capita_table3 %}
                                  listCases.push("{{ item }}");
                               {% endfor %}

                               {% for item in extreme_poverty_table3 %}
                                  listPerMillion.push("{{ item }}");
                               {% endfor %}

                               list.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            list[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            list[index]= element;
                                         }
                               });

                               listCases.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCases[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCases[index]= element;
                                         }
                               });

                               listPerMillion.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listPerMillion[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listPerMillion[index]= element;
                                         }
                               });

                               listDiabetes.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listDiabetes[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listDiabetes[index]= element;
                                         }
                               });

                               listCardiovascular.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCardiovascular[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCardiovascular[index]= element;
                                         }
                               });

                               listMaleSmokers.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listMaleSmokers[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listMaleSmokers[index]= element;
                                         }
                               });

                               listFemaleSmokers.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listFemaleSmokers[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listFemaleSmokers[index]= element;
                                         }
                               });

                               listOlder.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listOlder[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listOlder[index]= element;
                                         }
                               });

                                return ['Population: '+list[tooltipItem.index],"GDP per capita: "+listCases[tooltipItem.index],"Extreme Poverty: "+listPerMillion[tooltipItem.index],"Diabetes Prevalence: "+listDiabetes[tooltipItem.index],"Cardiovascular Death Rate: "+listCardiovascular[tooltipItem.index],"Male smokers: "+listMaleSmokers[tooltipItem.index],"Female smokers: "+listFemaleSmokers[tooltipItem.index],"Population older than 65: "+listOlder[tooltipItem.index]];
                              }
                       } // end callbacks:
                     }, //end tooltips
    scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true,
                                         callback: function(value, index, values) {
                                             if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                        }
                                     }
                                 }]
    }


  }

});
// End Top 10 Cases per Million chart

// Start Sick Population Percentage chart
var ctx = document.getElementById('chartSickPopulationPercentage').getContext("2d");
var myChart4 = new Chart(ctx, {
type: 'bar',
data: {
    labels: [
      {% for item in locationtable4 %}
          "{{ item }}",
           {% endfor %}
    ],
    datasets : [{
         fillColor: "rgba(151,187,205,1)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         backgroundColor: "rgba(151,187,205,0.2)",
         borderColor:"rgba(151,187,205,1)",
         borderWidth:2,
         label: "Percentage of Population that got Covid",
         data : [
                   {% for item in sick_population %}
                      "{{ item }}",
                   {% endfor %}
                ]
              }


                ],
},
options: {
                         responsive: true,
                         maintainAspectRatio: false,

                     tooltips: {
                       callbacks: {
                             label: function(tooltipItem, data) {

                                 var value = data.datasets[0].data[tooltipItem.index];
                                 if(parseInt(value) >= 1000){
                                            return "Percentage of Population that got Covid: "+value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+" %";
                                         } else {
                                            return "Percentage of Population that got Covid: "+value +" %";
                                         }
                             },
                             afterLabel: function(tooltipItem, data) {
                               var list = [];
                               var listCases = [];
                               var listPerMillion = [];
                               var listDiabetes = [];
                               var listCardiovascular = [];
                               var listMaleSmokers = [];
                               var listFemaleSmokers = [];
                               var listOlder = [];

                               {% for item in populationtable4 %}
                                  list.push("{{ item }}");
                               {% endfor %}

                               {% for item in median_agetable4 %}
                                  listCases.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_casestable4 %}
                                  listPerMillion.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_tests_per_thousandtable4 %}
                                  listDiabetes.push("{{ item }}");
                               {% endfor %}

                               {% for item in new_cases_per_million %}
                                  listMaleSmokers.push("{{ item }}");
                               {% endfor %}





                               list.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            list[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            list[index]= element;
                                         }
                               });

                               listCases.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCases[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCases[index]= element;
                                         }
                               });

                               listPerMillion.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listPerMillion[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listPerMillion[index]= element;
                                         }
                               });

                               listDiabetes.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listDiabetes[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listDiabetes[index]= element;
                                         }
                               });



                               listMaleSmokers.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listMaleSmokers[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listMaleSmokers[index]= element;
                                         }
                               });



                                return ["Total Cases: "+listPerMillion[tooltipItem.index],'Population: '+list[tooltipItem.index],"Median age: "+listCases[tooltipItem.index],"Total tests per thousand: "+listDiabetes[tooltipItem.index],"New cases per Million: "+listMaleSmokers[tooltipItem.index]];
                              }
                       } // end callbacks:
                     }, //end tooltips
    scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true,
                                         callback: function(value, index, values) {
                                             if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                        }
                                     }
                                 }]
    }


  }

});
// End Sick Population Percentage chart

// Start Fatality Case Ratio chart
var ctx = document.getElementById('chartFatalityCaseRatio').getContext("2d");
var myChart5 = new Chart(ctx, {
type: 'bar',
data: {
    labels: [
      {% for item in locationtable5 %}
          "{{ item }}",
           {% endfor %}
    ],
    datasets : [{
         fillColor: "rgba(151,187,205,1)",
         strokeColor: "rgba(151,187,205,1)",
         pointColor: "rgba(151,187,205,1)",
         backgroundColor: "rgba(151,187,205,0.2)",
         borderColor:"rgba(151,187,205,1)",
         borderWidth:2,
         label: "Case Fatality Rate",
         data : [
                   {% for item in case_fatality_ratio %}
                      "{{ item }}",
                   {% endfor %}
                ]
              }


                ],
},
options: {
                         responsive: true,
                         maintainAspectRatio: false,

                     tooltips: {
                       callbacks: {
                             label: function(tooltipItem, data) {

                                 var value = data.datasets[0].data[tooltipItem.index];
                                 if(parseInt(value) >= 1000){
                                            return "Case Fatality Rate: "+value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+"%";
                                         } else {
                                            return "Case Fatality Rate: "+value+"%";
                                         }
                             },
                             afterLabel: function(tooltipItem, data) {
                               var list = [];
                               var listCases = [];
                               var listPerMillion = [];
                               var listDiabetes = [];
                               var listCardiovascular = [];
                               var listMaleSmokers = [];
                               var listFemaleSmokers = [];
                               var listOlder = [];

                               {% for item in populationtable5 %}
                                  list.push("{{ item }}");
                               {% endfor %}

                               {% for item in median_agetable5 %}
                                  listCases.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_casestable5 %}
                                  listPerMillion.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_deathstable5 %}
                                  listDiabetes.push("{{ item }}");
                               {% endfor %}

                               {% for item in total_deaths_per_milliontable5 %}
                                  listMaleSmokers.push("{{ item }}");
                               {% endfor %}





                               list.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            list[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            list[index]= element;
                                         }
                               });

                               listCases.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listCases[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listCases[index]= element;
                                         }
                               });

                               listPerMillion.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listPerMillion[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listPerMillion[index]= element;
                                         }
                               });

                               listDiabetes.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listDiabetes[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listDiabetes[index]= element;
                                         }
                               });



                               listMaleSmokers.forEach(function(element, index, array){
                                 if(parseInt(element) >= 1000){
                                            listMaleSmokers[index]= element.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                         } else {
                                            listMaleSmokers[index]= element;
                                         }
                               });


                               // return ['Population: '+list[tooltipItem.index],"Total Cases: "+listPerMillion[tooltipItem.index],"Total Deaths: "+listDiabetes[tooltipItem.index],"Median age: "+listCases[tooltipItem.index],"Total Deaths per Million: "+listMaleSmokers[tooltipItem.index]];
                                return ["Total Cases: "+listPerMillion[tooltipItem.index],"Total Deaths: "+listDiabetes[tooltipItem.index]];
                              }
                       } // end callbacks:
                     }, //end tooltips
    scales: {
                                 yAxes: [{
                                     ticks: {
                                         beginAtZero:true,
                                         callback: function(value, index, values) {
                                             if(parseInt(value) >= 1000){
                                                return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                             } else {
                                                return value;
                                             }
                                        }
                                     }
                                 }]
    }


  }

});
// End Fatality Case Ratio chart
    </script>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
